mkdocs==1.5.2
pytest==7.4.0
flake8
pyinstaller
pytest-cov
mkdocs-section-index
mkdocs-literate-nav
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
pre_commit
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability