mkdocs==1.5.2
pytest==7.4.0
flake8
pyinstaller @ git+https://github.com/ohsu-comp-bio/pyinstaller.git@feature/startup-message
pytest-cov
mkdocs-section-index
mkdocs-literate-nav
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
pre_commit